In [2]:
import pandas as pd
df = pd.read_csv("Test.csv")
df.head()

   A  B  C CLASS
0  1  0  0     T
1  1  0  1     F
2  0  1  0     F
3  1  1  1     F
4  1  1  0     T

In [59]:

from sklearn.preprocessing import LabelEncoder

Class_T = LabelEncoder()
# table = df.head()
table['Class_n'] = Class_T.fit_transform(table['CLASS'])
inputs  = table.drop(["CLASS", "Class_n"], axis='columns')
target = table['Class_n']
# inputs = df.drop("CLASS", axis= 'columns')
# target = df['CLASS']
target
inputs

C:\Users\rukun\AppData\Local\Temp\ipykernel_8232\1466059170.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['Class_n'] = Class_T.fit_transform(table['CLASS'])

   A  B  C
0  1  0  0
1  1  0  1
2  0  1  0
3  1  1  1
4  1  1  0

In [53]:
target

0    1
1    0
2    0
3    0
4    1
Name: Class_n, dtype: int32

In [54]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(inputs,target)
model.score(inputs,target)

1.0

In [61]:
model.predict([[1,1,1]])

C:\Users\rukun\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])